{
  "extends": "eslint-config-topcoder/nodejs-babel",
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-commonjs": 0,
    "no-undefined": 0,
    "arrow-parens": 0,
    "lodash/prefer-lodash-typecheck": 0,
    "no-magic-numbers": 0
  }
}
